*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {	
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.header-main-top{
	position: relative;
	z-index: 3;
}
.header-main-carusel{
	margin-top: -130px;
}
.header-main-logo {
	padding-top: 41px;
	padding-left: 61px;
}
.header-main-logo a{
	display: block;
}
.header-main-logo a:hover{
	text-decoration: none;
}
.header-main-logo h2{
	text-transform: uppercase;
	font-size: 37px;
	font-weight: bold;
	color: #fff;
	margin-bottom: -8px;
}
.header-main-logo p{
	margin-top: -25px;
	color: #fff;
	opacity: 0.3;
}
.nav-all {
	position: absolute;
	left: 360px;
	top: 333px;
	width: 300px;

	
}
.nav-all a.nav-link {
	position: relative
	font-family: "RobotoRegular",
	sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	z-index: 10;
}
a.nav-link:hover {
	text-decoration: none;
}
a.nav-link::before{

	content: "----";
	color: #fff;
	position: relative;
	left:-15px;

	opacity:0;
	z-index:3;
}
a.nav-link:hover:before {
	color: #fff;
	opacity:1;
	z-index: 2;
	text-decoration: none;
}
.header-main-carusel .carousel-control-prev {
	right: 45px; 
}